.mainContainer {
  width: 100%;
}

.sectionTitle {
  position: relative;
  text-align: center;
  margin-bottom: 20px; /* Minimal margin below the title */
}

.sectionTitle h2 {
  font-size: 7em; /* Large font size for impact */
  font-weight: bold; /* Bold font weight for visibility */
  z-index: 2; /* Ensures the text is above any overlapping elements */
  display: inline-block;
  padding: 0 40px; /* Padding on the sides of the title */
  position: relative;
  margin-bottom: -40px; /* Pulls the subheading closer to the title */
  top: 10px; /* Adjusted to move the background higher */
}

.sectionTitle p {
  padding-top: 30px; /* Added padding to create space above the subheading */
  font-size: 1.2em; /* Ensures the subheading is clearly readable */
  margin: 0 auto; /* Centers the subheading and removes any default margin */
  max-width: 80%; /* Controls the width to maintain readability */
}

.sectionTitle::before {
  content: '';
  position: absolute;
  top: -40px; /* Adjusted to move the background higher */
  left: 50%;
  transform: translateX(-50%);
  width: 100%; /* Full width to align with the container */
  height: 100%; /* Increased height to cover more area */
  background: #f9f6f3; /* Beige background color */
  z-index: 1; /* Keeps the background behind the text */
}

.aboutMeContainer {
  display: flex;
  align-items: flex-start; /* Aligns items to the top of the container */
  justify-content: center;
}

.imageContainer {
  position: relative;
  max-width: 30vw;
  margin: 2vw 5vw 10vh 15vw;
  overflow: hidden; /* Ensure the hover image doesn't overflow */
}

.profileImage,
.hoverImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 0.3s ease;
}

.profileImage {
  display: block; /* Ensures the image is a block-level element */
}

.hoverImage {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: 1;
}

.imageContainer:hover .profileImage {
  opacity: 0;
}

.imageContainer:hover .hoverImage {
  opacity: 1;
}

.textContainer {
  flex: 1;
  padding-right: 10vw;
  margin-top: 15vh; /* Pulls the text container up; adjust value as needed */
  padding-top: 0; /* Reduce if there's unnecessary padding pushing content down */
}

.title {
  margin-bottom: 20px;
}

.description {
  margin-bottom: 20px;
}

.interests {
  display: flex;
  margin-top: 20px;
}

.interest {
  margin-right: 20px;
  /* Add more styles for the interest labels if needed */
}

.buttonContainer {
  display: flex;
  justify-content: center; /* Aligns the container center */
  align-items: center;
  margin-top: 20px;
}

.button {
  margin: 0 10px; /* Space between the buttons */
  padding: 12px 24px; /* Adequate padding for the buttons */
  width: auto; /* Adjust width to content */
  background-color: #4a2f2f; /* Updated color to match the button in the image */
  color: white;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
  border-radius: 5px; /* Rounded corners */
  font-size: 16px; /* Adjust font size as needed */
  font-weight: 500; /* Medium font weight for better visibility */
  text-transform: uppercase; /* Makes text uppercase */
  outline: none; /* Removes focus outline */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.button:hover {
  background-color: #826666; /* Darker shade on hover */
}

/* Mobile Styles */
@media (max-width: 768px) {
  .sectionTitle h2 {
    font-size: 3em;
    margin-top: 6vh;
    text-align: center; /* Center title text */
  }

  .sectionTitle p {
    font-size: 0.9em;
    text-align: center; /* Center subtitle text */
  }

  .aboutMeContainer {
    flex-direction: column;
    align-items: center; /* Center the items within the container */
    text-align: center; /* Center the text inside */
    margin:0;
  }

  .imageContainer {
    width: 90vw; /* Increased width for mobile */
    max-width: none; /* Remove maximum width for better responsiveness */
    margin-bottom: 2vh; /* Added spacing from text */
    margin:0;
    display: flex;
    justify-content: center; /* Center the image within the container */
  }

  .textContainer {
    width: 90vw; /* Adjusted width for mobile */
    margin: 0;
    padding-left: 4vh;
    text-align: center; /* Center the text inside */
  }

  .button {
    width: 100%; /* Full width buttons for mobile */
    text-align: center; /* Center the button content */
  }
}
