/* General Styles */
.mainContainer {
  width: 100%;
}

.sectionTitle {
  position: relative;
  text-align: center;
  margin-bottom: 20px;
}

.sectionTitle h2 {
  font-size: 4em;
  font-weight: bold;
  z-index: 2;
  display: inline-block;
  padding: 0 20px;
  position: relative;
  margin-bottom: -20px;
  top: 5px;
}

.sectionTitle p {
  padding-top: 15px;
  font-size: 1em;
  margin: 0 auto;
  max-width: 90%;
}

.sectionTitle::before {
  content: '';
  position: absolute;
  top: -20px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 100%;
  background: #f9f6f3;
  z-index: 1;
}

.aboutMeContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 2vw;
}

.imageContainer {
  width: 80vw; /* Adjusted width */
  max-width: 300px; /* Set a maximum width for better control */
  margin: 0 auto; /* Centered the image container */
  margin-bottom: 5vh; /* Spacing from text */
}

.textContainer {
  width: 80vw; /* Adjusted width */
  margin-top: 5vh;
  padding-right: 0;
  text-align: center;
}

.title {
  margin-bottom: 20px;
}

.description {
  margin-bottom: 15px;
}

.interests {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

.interest {
  margin-bottom: 10px;
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.button {
  margin: 10px 0;
  padding: 10px 20px;
  background-color: #4a2f2f;
  color: white;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  outline: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.button:hover {
  background-color: #826666;
}

/* Mobile Styles */
@media (max-width: 768px) {
  .sectionTitle h2 {
    font-size: 3em;
    margin-top: 6vh;
  }

  .sectionTitle p {
    font-size: 0.9em;
  }

  .aboutMeContainer {
    flex-direction: column;
    align-items: center; /* Centered items on mobile */
  }

  .imageContainer {
    width: 90vw; /* Increased width for mobile */
    max-width: none; /* Remove maximum width for better responsiveness */
    margin-bottom: 0; /* Added spacing from text */
  }

  .textContainer {
    width: 90vw; /* Adjusted width for mobile */
    margin: 0;
  }

  .button {
    width: 100%; /* Full width buttons for mobile */
  }
}
