.container {
  padding: 20px 0; /* Keeps general padding around the entire section */
}

.cards {
  margin-left: 10%;
}

.heading {
  text-align: left; /* Align text to the left */
  font-size: 32px; /* Large font size */
  color: #333333; /* Dark grey color */
  margin: 20px 0; /* Margin top and bottom for spacing */
  padding: 0 0; /* Padding on the sides */
  font-weight: bold; /* Bold font weight */
}


.sectionTitle {
  position: relative;
  text-align: center;
  margin-bottom: 20px; /* Keeps a minimal margin below the title */
}

.sectionTitle h2 {
  font-size: 7em; /* Large font size for impact */
  font-weight: bold; /* Bold font weight for visibility */
  z-index: 2; /* Ensures the text is above any overlapping elements */
  display: inline-block;
  padding: 0 40px; /* Padding on the sides of the title */
  position: relative;
  margin-bottom: -40px; /* Pulls the subheading closer to the title */
}

.sectionTitle p {
  padding-top: 30px; /* Added padding to create space above the subheading */
  font-size: 1.2em; /* Ensures the subheading is clearly readable */
  margin: 0 auto; /* Centers the subheading and removes any default margin */
  max-width: 80%; /* Controls the width to maintain readability */
}

.sectionTitle::before {
  content: '';
  position: absolute;
  top: -50px; /* Adjusted to move the background higher */
  left: 50%;
  transform: translateX(-50%);
  width: 100%; /* Full width to align with the container */
  height: 100%; /* Increased height to cover more area */
  background: #f9f6f3; /* Beige background color */
  z-index: 1; /* Keeps the background behind the text */
}

.experienceSection {
  margin-bottom: 20px; /* Space between sections */
}

.title {
  font-size: 24px;
  color: #333333;
  margin-bottom: 10px;
}

.description {
  font-size: 16px;
  color: #666666;
}

.duration {
  font-size: 14px;
  color: #999999;
  margin-bottom: 10px;
}
