/* Reset body and html margins and padding */
html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Prevent horizontal scrolling */
}

.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    height: 100vh;
    color: #333;
}

.textSide {
    flex: 1;
    padding: 20px;
    padding-left: 50px;
}

.name {
    font-size: 2em;
    color: #333;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    transition: all 0.3s ease;
    width: 495px; /* Initial width that just shows "Hi! I'm" */
    height: 70px; /* Enough height to fit text */
    line-height: 70px; /* Centers text vertically */
    background-color: transparent; /* Initial background color */
    white-space: nowrap;
}

.name:hover {
    width: 825px; /* Adjust width to fit "Hi! I'm Raveen Prabhu" */
    background-color: #D7E8D5; /* Highlight color on hover */
    animation: bounce 0.5s;
}


.roles {
    font-size: 2em;
    margin: 20px 0;
}

.role {
    cursor: pointer;
    transition: background-color 0.3s;
}

@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}


.intro {
    font-size: 1.2em;
    max-width: 800px;
}

.imageSide {
    flex: 0.75;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-right: 5%;
}

.buttonContainer {
    display: flex;
    justify-content: left; /* Aligns the container center */
    align-items: center;
    margin-top: 20px;
  }
  
  .button {
    margin: 0 20px 0 0; /* Space between the buttons */
    padding: 12px 24px; /* Adequate padding for the buttons */
    width: auto; /* Adjust width to content */
    background-color: #4a2f2f; /* Updated color to match the button in the image */
    color: white;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
    border-radius: 5px; /* Rounded corners */
    font-size: 16px; /* Adjust font size as needed */
    font-weight: 500; /* Medium font weight for better visibility */
    text-transform: uppercase; /* Makes text uppercase */
    outline: none; /* Removes focus outline */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .button:hover {
    background-color: #826666; /* Darker shade on hover */
  }
  