/* hero.module.css */

.hero {
  position: relative;
  height: 100vh; /* Adjust height to fill remaining viewport space */
  width: 120lh; /* Make the hero section full-width */
  background-color: pink !important; /* Ensure pink background */
}

.hero-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
}
