.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5%;
  height: 60px;
  background-color: #333;
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  z-index: 1000;
}

.navbarLeft {
  flex: 1;
}

.navbarRight {
  display: flex;
  justify-content: flex-end;
}

.navbarBrand {
  font-size: 1.5rem;
  font-weight: 400;
  color: #fff;
  text-decoration: none;
}

.navbarMenu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbarItem {
  margin-left: 1.5rem;
}

.navbarLink {
  font-size: 1rem;
  color: #fff;
  text-decoration: none;
}

.navbarLink::before {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #fff;
  transition: width 0.3s ease;
}

.navbarLink:hover::before {
  width: 100%;
}

.menuButton {
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
}

.mobileMenu {
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
  background-color: rgba(27, 30, 32, 0.902);
  padding: 1rem;
}

.mobileNavbarMenu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.mobileNavbarItem {
  margin-bottom: 1rem;
}

@media (max-width: 768px) {
  .navbar {
    padding: 0 3%;
  }

  .navbarBrand {
    font-size: 1.2rem;
  }

  .navbarItem {
    margin-left: 1rem;
  }

  .navbarLink {
    font-size: 0.9rem;
  }
}

@media (max-width: 480px) {
  .navbarRight {
    display: none; /* Hide menu items on very small screens */
  }
}