.portfolio {
    padding: 60px 0;
}

.sectionTitle {
    text-align: center;
    margin-bottom: 60px;
}

#portfolio-flters {
    padding: 0;
    margin: 0 auto 35px auto;
    list-style: none;
    text-align: center;
}

#portfolio-flters li {
    cursor: pointer;
    display: inline-block;
    padding: 10px 15px;
    font-size: 14px;
    font-weight: 600;
    line-height: 1;
    text-transform: uppercase;
    color: #272829;
    margin-bottom: 5px;
    transition: all 0.3s ease-in-out;
}

#portfolio-flters li:hover, 
#portfolio-flters li.filter-active {
    color: #149ddd;
}

.portfolio-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* changed from space-between to center */
    gap: 30px; /* this adds space between your items */
}
