.portfolioItem {
  /* Removed the fixed height and set it using padding-top to maintain the aspect ratio */
  width: calc(33% - 30px); /* 3 items per row, accounting for the gap */
  border: 1px solid #ddd;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  transition: all 0.3s ease-in-out;
  flex: 0 0 calc(30% - 60px); /* Smaller flex-basis and larger gap */
  margin: 30px; /* This will be the gap between the items */
  position: relative;
  box-sizing: border-box; /* This ensures the padding is included in the width and height */
}

.portfolioWrap {
  position: relative;
  width: 100%; /* Ensures the wrapper fills the container */
  height: 100%; /* Adjust this if you want a specific aspect ratio */
  overflow: hidden;
}

.imgFluid {
  width: 100%;
  height: 100%;
  object-fit: cover; /* This will cover the area without stretching */
}

.projectDescription {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  opacity: 0;
  transition: opacity 0.5s, transform 0.5s;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  box-sizing: border-box;
  transform: translateY(20px); 
}

.portfolioItem:hover .projectDescription {
  opacity: 1;
  transform: translateY(0); 
}

.projectTitle {
  font-size: 24px; /* Larger font size for the title */
  margin-bottom: 10px;
}

.projectSubTitle {
  font-size: 18px; /* Larger font size for the subtitle */
  margin-bottom: 10px;
}

.projectPara {
  font-size: 16px; /* Slightly larger font size for the paragraph */
  margin-bottom: 10px;
}

.projectLink {
  font-size: 28px; /* Increase icon size for better clickability */
  margin-right: 16px;
  color: #fff;
  background-color: #149ddd;
  padding: 12px; /* Slightly larger padding to accommodate bigger font/icon */
  border-radius: 50%;
  transition: background-color 0.3s;
}

.projectLink:hover {
  background-color: #0b7db7;
}
