.portfolioItem {
  width: calc(100% - 20px); /* Full width minus the margin */
  border: 1px solid #ddd;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  transition: all 0.3s ease-in-out;
  margin: 10px auto; /* Center the item with auto margin */
  flex: 0 0 100%; /* Full width for mobile */
  box-sizing: border-box;
}


.portfolioWrap {
  position: relative;
  width: 100%; /* Ensures the wrapper fills the container */
  height: 100%; /* Adjust this if you want a specific aspect ratio */
  overflow: hidden;
}

.imgFluid {
  width: 100%;
  height: 100%;
  object-fit: cover; /* This will cover the area without stretching */
}

.projectDescription {
  background: rgba(0, 0, 0, 0.75); /* Semi-transparent black */
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centers content vertically */
  align-items: center; /* Centers content horizontally */
  padding: 20px;
  transition: opacity 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.portfolioItem:hover .projectDescription {
  opacity: 1;
}

.projectTitle {
  font-size: 2.5rem; /* Responsive font size */
  font-weight: bold;
}

.projectSubTitle {
  font-size: 1.5rem;
}

.projectPara {
  font-size: 1.1rem; /* Smaller text for paragraphs */
  margin-top: 0.625rem;
}

.projectLink {
  font-size: 28px; /* Increase icon size for better clickability */
  margin-right: 16px;
  color: #fff;
  padding: 12px; /* Slightly larger padding to accommodate bigger font/icon */
  border-radius: 50%;
  transition: background-color 0.3s;
}

.projectLink:hover {
  color: #ccc;
}

@media (min-width: 768px) {
  .portfolioItem {
    width: calc(48% - 30px); /* Two items per row, considering the margin */
    flex: 0 0 calc(48% - 30px); /* Two items per row */
    margin: 20px; /* Spacing between items */
  }
}

@media (min-width: 1024px) {
  .portfolioItem {
    width: calc(30% - 30px); /* Three items per row, considering the margin */
    flex: 0 0 calc(30% - 30px); /* Three items per row */
    margin: 20px; /* Spacing between items */
  }
}
